.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
.linkStyle{
  padding: 1rem 2rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: #67bc98;
  transition: all 0.3s ease-in;
  font-size: 0.9rem;
}
.linkStyle:hover {
  color: #7b7fda;
}
.search{
  display: flex;
  justify-content: center;
 
}
.box{
  width: 75%;
  height: 400px;
  margin: 10px 12%;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 3px 0px 8px silver;

}
.box-header{
  display: flex;
  padding: 3rem;
  justify-content: space-between
}

.card-box{
  
  width: 20%;
  height: 160px;
  margin: 5px ;
  text-align: center;
  align-items: center;
  background-color: rgba(124 173 203 / 75%);
  box-shadow: 3px 0px 8px rgba(105 154 215 / 69%);
 
}

.weather-icon{
  width: 120px;
  height: 70px;
  margin: 20px;
}

.card-fav-box{
  
  width: 20%;
  height: 160px;
  margin: 5px ;
  text-align: center;
  align-items: center;
    background-color: rgb(232 198 209 / 66%);
    box-shadow: 3px 0px 8px rgb(215 105 141 / 69%);
    transition: transform 0.3s;
}

.card-fav-box:hover{
    transform: translateY(-1.5rem) scale(1.03);
}

.days-list{
      display: flex;
      flex-direction: row;
}
@media (max-width: 800px) {
  .days-list{
    flex-direction: column;
    text-align: center;
    align-items: center;
    width:100%;
  }
}
@media (max-width: 800px) {
  .box {
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
  }
}
@media (max-width: 800px) {
  .card-box {
    width: 80%;
  }
}

@media (max-width: 800px) {
  #video {
    flex-direction: column;
    position: fixed;
  }
}


